* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: rgb(225, 255, 143);
  height: 710px;
  position: relative;
}
.header__star1 {
  position: absolute;
  left: 63px;
  top: 94px;
}
.header__star2 {
  position: absolute;
  left: 156px;
  top: 69px;
}
.header__star3 {
  position: absolute;
  right: 269px;
  top: -10px;
}
.header__star4 {
  position: absolute;
  right: 231px;
  top: 254px;
}
.header__star5 {
  position: absolute;
  right: 4.88px;
  top: 379px;
}
.header__star6 {
  position: absolute;
  right: 113px;
  top: 468px;
}
.header__star7 {
  position: absolute;
  right: 455px;
  top: 538px;
}
.header__star8 {
  position: absolute;
  right: 344px;
  top: 568px;
}
.header__star9 {
  position: absolute;
  right: -10px;
  top: -9px;
}
.header__star10 {
  position: absolute;
  right: 61px;
  top: 663px;
}
.header__title {
  padding-top: 196px;
  padding-bottom: 24px;
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.header__textBox {
  padding-bottom: 64px;
}
.header__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.header__text_bold {
  font-weight: 600;
}
.header__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 65px 16px 65px;
  text-align: center;
  transition: 0.5s;
}
.header__button:hover {
  background-color: #fff;
  color: #000000;
  transition: 0.5s;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 51px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  height: 90px;
}
.scroll__text {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  white-space: nowrap;
}

.aboutgame {
  background-color: #202027;
  position: relative;
}
.aboutgame__box {
  padding-top: 94px;
  padding-bottom: 72px;
}
.aboutgame__star11 {
  position: absolute;
  left: 25px;
  top: 770px;
}
.aboutgame__star12 {
  position: absolute;
  left: 40px;
  top: 822px;
}
.aboutgame__star13 {
  position: absolute;
  right: 1px;
  top: 77px;
}
.aboutgame__title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.aboutgame__text {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}
.aboutgame__position {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.aboutgame__cardbox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.aboutgame__cardbox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.aboutgame__cardbox3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.aboutgame__card {
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.aboutgame__card_small {
  height: 473px;
}
.aboutgame__card_medium {
  height: 512px;
}
.aboutgame__card_large {
  height: 551px;
}
.aboutgame__link {
  height: 100%;
}
.aboutgame__img {
  width: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.aboutgame__info {
  padding: 32px 32px 36px 32px;
}
.aboutgame__number {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(247, 247, 247);
  border-radius: 52px;
  width: 108px;
  height: 36px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 16px;
}
.aboutgame__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */